<table class="table">
    <tr>
        <th>ID</th>
        <th>Score One</th>
        <th>Score Two</th>
        <th>Team One</th>
        <th>Team Two</th>
        <th>Actions</th>
    </tr>
    <tr *ngFor = "let m of matches">
        <td>{{m.id}}</td>
        <td>{{m.scoreOne}}</td>
        <td>{{m.scoreTwo}}</td>
        <td>{{m.teamOne}}</td>
        <td>{{m.teamTwo}}</td>
        <td>
            <button class="btn btn-info" (click)="goToDisplay(m.id)">Display</button>
            <button class="btn btn-warning" (click)="goToEdit(m.id)">Edit</button>
            <button class="btn btn-danger" (click)="deleteMatch(m.id)">Delete</button>
        </td>
    </tr>
</table>